.content_header {
  display: flex;
}

.content_btn-add {
  background-color: #28b796;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  position: relative;
  top: 35px;
  width: 120px;
}

.content_btn-add:hover {
  background-color: #209e81;
}

.content_box {
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 0px;
  padding-top: 35px;
  display: flex;
}

.content_filter {
  position: relative;
  left: -180px;
  top: 63px;
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .content_box {
    flex-direction: column;
  }

  .content_filter {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: -8px;
    z-index: 2;
  }
}

@media screen and (max-width: 1100px) {
  .content_filter {
    position: relative;
    left: 10px;
    top: 0px;
    z-index: 2;
  }
}